body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: white; 
}
.header_topline {
	background-color: #333;
}
.header_topline a {
	color: white;
}
.header_topline h5 {
	color: #ffffcc;
}
nav {
	padding: 0px 10px;
	color: white;
	text-transform: uppercase;
	text-align: left;
	font-family: "RobotoCondensedRegular";
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
nav a:hover,
nav a:focus {
	outline: none;
}
.menu {
	background-color: #1a1a1a;
	color: #fff;
}
.menu a {
	color: #ffff99;
	padding: 15px;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.menu a::after {
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.menu a:hover::after,
.menu a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
	z-index: 12;
}
.menu ul li {
	display: inline-block;
}
.menu_button {
	background-color: transparent;
	color: #ffff99;
	border: medium none;
	font-size: 25px;
}
h1 {
	color: #ffff99;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
	padding: 0px 0px;
}
h2,h3,h4,h5,h6 {
	color: black;
	text-transform: uppercase;
	text-align: center;
	font-family: "RobotoCondensedLight";
}
p {
	color: black;
	text-align: justify;
	font-family: "RobotoCondensedLight";
}
.table-container {
	width: 100%;
  	overflow-y: auto;
  	overflow-x: auto;
}
table {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: auto;
    margin-right: auto;
}
caption {
	font-size: 30px;
	text-align: center;
	color: black;
}

td {
	padding: 5px 5px;
}
td p {
	font-size: 15px;
	text-align: center;
	margin-top: 0px;
}
img {
	padding-bottom: 10px;
}
.rune {
	height: 50px;
	width: auto;
}
.ettir {
	font-size: 35px;
}
.name-rune {
	font-size: 15px;
}
.footer {
	background-color: #262626;
}
.copyright {
	font-size: 15px;
	color: #ffffcc;
	text-align: center;
	font-family: "RobotoCondensedLight";
	margin-top: 20px;
}
address {
	font-size: 15px;
	text-align: center;
	font-family: "RobotoCondensedLight";
	margin-bottom: 20px;
}
address a {
	color: #ffffcc;
}
